@charset"UTF-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {font-family: 'メイリオ',
    　'Hiragino kaku gothic pro',sans-serif
}

.text-center {text-align: center; }

section
{padding: 60px 0;}

section .container
{width: 100%;}



.box1{
      background-image: url("../images/mizsuho170920000_TP_V.jpg");
      height: 500px;
      width: 100%;
      background-size: cover;
      background-position: center center;}

#sea
{background-color: #e0ffff;
    }
#sea .container
{display: flex;
justify-content: space-around;}

#sea h2{ margin-bottom: 60px;
        color: #fdfcf6;
        font-size: 2.2rem;
        font-weight: bold;
        margin: 0px;
        padding:0px;
        color: #14c0c9;
}

#sea .sea1, #sea .sea2, #sea .sea3{
        box-sizing: border-box;
        flex: auto;
        margin: 20px 20px;
        padding: 10px;
        border-radius: 4px;
        background-color: #fdfcf6;}
    
   
    
.btn1        {background-color:#ffebcd;
              margin: 0px;
              padding:1px;}
              
.btn         {display:inline-block;
              position:relative;
              text-decoration: none;        
              color: #f9a9ae;
              width:120px;
              height:50px;
              line-height: 50px;
              border-radius:5px;
              text-align: center;
              vertical-align: middle; 
              overflow: hidden;
              font-weight: bold;
              background-image: -webkit-linear-gradient(#fed6e3 0%,#ffaaaa 100%);
              background-image:linear-gradient(#fed6e3 0%,#ffaaaa 100%);
              text-shadow: 1px 1px 1px rgba(255,255,255,0.66);
              box-shadow: 0 0 1px rgba(0,0,0,0.28);    }    
              
.btn:active  {-ms-transform:translateY(2px);              
              -webkit-transform: translateY(2px);
              transform: translateY(2px);
              box-shadow:0 0 1px rgba(0,0,0,0.15);
              background-image: -webkit-linear-gradient(#fed6e3 0%, #ffbcbc 100%);
              background-image: linear-gradient(#fed6e3 0%, #ffbcbc 100%);}

@media(min-width:768px) {

.seaA:after {content:"";
            display:block;            
            clear:both;}

.sea1, .sea2, .sea3
            {float: left;
             width:30%;
             background-color:#ffffff;
             height:100%;
                        }
}